// Text Color
.Mirage{
    color: $Mirage;
}
.SanMarino{
    color: $SanMarino;
}
.LightSalmon{
    color: $LightSalmon;
}
.DarkSalmon{
    color: $DarkSalmon;
}
.LightCoral{
    color: $LightCoral;
}
.IndianRed{
    color: $IndianRed;
}
.Crimson{
    color: $Crimson;
}
.reRed{
    color: $reRed;
}
.FireBrick{
    color: $FireBrick;
}
.DarkRed{
    color: $DarkRed;
}
.black{
    color: $black;
}
.LightSlateGrey{
    color: $LightSlateGrey;
}
.Salmon{
    color: $Salmon;
}
.Coral{
    color: $Coral;
}
.SteelBlue{
    color: $SteelBlue;
}
.Wheat{
    color: $Wheat;
}
.LightGray{
    color: $LightGray;
}
.MediumAquaMarine{
    color: $MediumAquaMarine;
}
.DarkSeaGreen{
    color: $DarkSeaGreen;
}
.LightSeaGreen{
    color: $LightSeaGreen;
}
.DarkCyan{
    color: $DarkCyan;
}
.Teal{
    color: $Teal;
}
.MidnightBlue{
    color: $MidnightBlue;
}
.PaleVioletRed{
    color: $PaleVioletRed;
}
.Gainsboro{
    color: $Gainsboro;
}
.Silver{
    color: $Silver;
}
.DarkGray{
    color: $DarkGray;
}
.DimGray{
    color: $DimGray;
}
.Gray{
    color: $Gray;
}
.SlateGray{
    color: $SlateGray;
}
.DarkSlateGray{
    color: $DarkSlateGray;
}
.blue{
    color: $blue;
}
.indigo{
    color: $indigo;
}
.purple{
    color: $purple;
}
.pink{
    color: $pink;
}
.red{
    color: $red;
}
.orange{
    color: $orange;
}
.yellow{
    color: $yellow;
}
.green{
    color: $green;
}
.teal{
    color: $teal;
}
.cyan{
    color: $cyan;
}
.OuterSpace{
    color: $OuterSpace;
}
.Abbey{
    color: $Abbey;
}
.SpicyMix{
    color: $SpicyMix;
}
.BlackBean{
    color: $BlackBean;
}