// Text background-color
.Mirage-bag{
    background-color: $Mirage;
}
.SanMarino-bag{
    background-color: $SanMarino;
}
.LightSalmon-bag{
    background-color: $LightSalmon;
}
.DarkSalmon-bag{
    background-color: $DarkSalmon;
}
.LightCoral-bag{
    background-color: $LightCoral;
}
.IndianRed-bag{
    background-color: $IndianRed;
}
.Crimson-bag{
    background-color: $Crimson;
}
.reRed-bag{
    background-color: $reRed;
}
.FireBrick-bag{
    background-color: $FireBrick;
}
.DarkRed-bag{
    background-color: $DarkRed;
}
.black-bag{
    background-color: $black;
}
.LightSlateGrey-bag{
    background-color: $LightSlateGrey;
}
.Salmon-bag{
    background-color: $Salmon;
}
.Coral-bag{
    background-color: $Coral;
}
.SteelBlue-bag{
    background-color: $SteelBlue;
}
.Wheat-bag{
    background-color: $Wheat;
}
.LightGray-bag{
    background-color: $LightGray;
}
.MediumAquaMarine-bag{
    background-color: $MediumAquaMarine;
}
.DarkSeaGreen-bag{
    background-color: $DarkSeaGreen;
}
.LightSeaGreen-bag{
    background-color: $LightSeaGreen;
}
.DarkCyan-bag{
    background-color: $DarkCyan;
}
.Teal-bag{
    background-color: $Teal;
}
.MidnightBlue-bag{
    background-color: $MidnightBlue;
}
.PaleVioletRed-bag{
    background-color: $PaleVioletRed;
}
.Gainsboro-bag{
    background-color: $Gainsboro;
}
.Silver-bag{
    background-color: $Silver;
}
.DarkGray-bag{
    background-color: $DarkGray;
}
.DimGray-bag{
    background-color: $DimGray;
}
.Gray-bag{
    background-color: $Gray;
}
.SlateGray-bag{
    background-color: $SlateGray;
}
.DarkSlateGray-bag{
    background-color: $DarkSlateGray;
}
.blue-bag{
    background-color: $blue;
}
.indigo-bag{
    background-color: $indigo;
}
.purple-bag{
    background-color: $purple;
}
.pink-bag{
    background-color: $pink;
}
.red-bag{
    background-color: $red;
}
.orange-bag{
    background-color: $orange;
}
.yellow-bag{
    background-color: $yellow;
}
.green-bag{
    background-color: $green;
}
.teal-bag{
    background-color: $teal;
}
.cyan-bag{
    background-color: $cyan;
}
.OuterSpace-bag{
    background-color: $OuterSpace;
}
.Abbey-bag{
    background-color: $Abbey;
}
.SpicyMix-bag{
    background-color: $SpicyMix;
}
.BlackBean-bag{
    background-color: $BlackBean;
}