// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// MY Colors
$black: #000000;
$LightSlateGrey:#778899;
$Salmon:#FA8072;
$Coral:#FF7F50;
$SteelBlue:#4682B4;
$Wheat:#F5DEB3;
$LightGray:#D3D3D3;
$MediumAquaMarine: #66CDAA;
$DarkSeaGreen: 	#8FBC8F;
$LightSeaGreen: #20B2AA;
$DarkCyan: #008B8B;
$Teal: 	#008080;
$MidnightBlue:#191970;
$PaleVioletRed:#DB7093;
$Gainsboro:#DCDCDC;
$Silver: #C0C0C0;
$DarkGray: #A9A9A9;
$DimGray: #696969;
$Gray: 	#808080;
$SlateGray: #708090;
$DarkSlateGray: #2F4F4F;
$LightSalmon:#FFA07A;
$DarkSalmon:#E9967A;
$LightCoral:#F08080;
$IndianRed:#CD5C5C;
$Crimson:#DC143C;
$reRed:#FF0000;
$FireBrick:#B22222;
$DarkRed:#8B0000;
$SanMarino:#3F51B5;
$Mirage:#1F2D3D;
$OuterSpace:#343A40;
$Abbey:#494E53;
$SpicyMix:#855C49;
$BlackBean:#081910;