// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'colorvalue';
@import 'colorBackground';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';


// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel{
    background-color: #fff;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04) ;
}

// Router Link Active
.router-link-exact-active{
    // background-color:$Mirage;
    color: #fff !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04) ;
}

// Sweet Alert 2 Model delete Btn
.btn-danger{
    margin-right: 20px;
}

// Navbar worpper

.worpper li a{
    display: block;
    margin: 0 7.5px;
    width: 40px;
    // height: 35px;
    text-align: center;
    color: $Abbey !important;
    border-radius: 50%;
    background-color: $Gray;
}
.worpper li a:hover{
    color: $SpicyMix !important;
    background-color: #213157a2;
}

.worpper .router-link-exact-active{
    background-color: unset;
}
.worpper .router-link-exact-active a{
    color: $SpicyMix !important;
    background-color: #213157a2;
}


//Slider

.slider-shadows{
    background-color: #00000073;
    z-index: 1;
    position: absolute;
    width: 170%;
    height: 100%;
}

.mysliderpag .carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover ;
    background-size: cover;
}

.mysliderpag .carousel-caption{
    bottom: 270px;
    box-sizing:border-box;
    z-index: 1;

}

.mysliderpag .carousel-caption h2{

    margin-top: 25px;
    font-size:45px ;
    text-shadow: 2px 1px #2c2c2ca6;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mysliderpag .carousel-caption p{

    font-size: 15px ;
    width: 75%;
    margin: auto;
    text-shadow: 2px 1px #2c2c2ca6;
    text-transform: capitalize ;
    line-height: 1.9;
}

.mysliders{
    box-shadow:0px 10px 20px 2px #213157a2;
}

// Hader And Nav Bar

.myhader .brand-link{
    letter-spacing: 2px;
    font-weight: bolder;
    left: 2px;
}

